:root{
  --bg-color: #0E1014;
  --text-color: #E4E5EA;
  --dark-gray: #656566;
  --btn-bg: #4077F3;
}

* {
    box-sizing: border-box;
    
    -webkit-tap-highlight-color: transparent;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;

  background-color: var(--bg-color);
  color: var(--text-color);
}


.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 1168px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.wrapper__header{
  flex-shrink: 0;
}

.wrapper__main{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 630px) {
  .wrapper__main{
    background-color: #272529;
  }
}

.wrapper__footer{
  flex-shrink: 0;
}